*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #B5EAEA, #FFBCBC);
    color: white;
    padding-top: 4%;
    padding-left: 10%;   
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}

.container h1 img{
    width: 60px;
}

.container button img {
    width: 25px;
    margin-right: 8px;
}

.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(120deg, #FFBCBC, #B5EAEA );
    color: black;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 0.6em 2em;
    margin: 30px 0 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: white;
    color: black;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 6px;
}

.input-box img{
    width: 25px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}


/* CSS */
.container button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.container button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #FFBCBC, #B5EAEA );
  color: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}